@media only screen and (max-width: 1199px) {
  .top-bar {
    display: none;}
   nav{
    margin-top: 0;
   };
} 

@media only screen and (max-width: 991px) {
    .text--line {
        font-size: 3rem;
        font-weight: 600;
      }
      .main-title .text-line text,
      .divider .main-title .text-line text {
        font-size: 5em;
       }
       .about-us-section .icon {
    display: none;
      }
      
}

@media only screen and (max-width: 767px) {
    .text--line {
        font-size: 2rem;
        font-weight: 600;
      }
      .landing {
        padding: --main-padding;
      }
      .landing .image {
        display: none;
      }
      .main-title .text-line text,
      .divider .main-title .text-line text {
        font-size: 2.5em;
       }
}